# Bài tập SQLite — Giải từ 5.1 đến 5.8

Notebook này tổng hợp lời giải (ví dụ bằng Python + SQLite3).

In [ ]:
import sqlite3
conn = sqlite3.connect('ql.sqlite')
cur = conn.cursor()
cur.execute('PRAGMA foreign_keys = ON')
conn.commit()
print('Đã tạo kết nối SQLite')

## Bài 5.1 — Tạo CSDL và bảng ví dụ

In [ ]:
cur.execute("""
CREATE TABLE IF NOT EXISTS PHONG(
    id INTEGER PRIMARY KEY,
    ten TEXT NOT NULL
)
""")
cur.execute("""
CREATE TABLE IF NOT EXISTS NHAN_VIEN(
    id INTEGER PRIMARY KEY,
    ho_ten TEXT NOT NULL,
    tuoi INTEGER NOT NULL,
    luong REAL NOT NULL,
    id_phong INTEGER NOT NULL,
    FOREIGN KEY(id_phong) REFERENCES PHONG(id)
)
""")
conn.commit()
print('Đã tạo bảng')

## Bài 5.2 — Thêm dữ liệu

In [ ]:
cur.executemany('INSERT INTO PHONG(id, ten) VALUES(?,?)', [
    (1,'Nhân sự'), (2,'Kế toán'), (3,'CNTT')
])
cur.executemany('''INSERT INTO NHAN_VIEN(id, ho_ten, tuoi, luong, id_phong)
                   VALUES (?,?,?,?,?)''', [
    (1,'An',25,800,1),
    (2,'Bình',29,900,2),
    (3,'Chi',30,1200,3)
])
conn.commit()
print('Đã chèn dữ liệu mẫu')

## Bài 5.3 — Liệt kê dữ liệu từ bảng

In [ ]:
for r in cur.execute('SELECT * FROM PHONG'): print(r)
for r in cur.execute('SELECT * FROM NHAN_VIEN'): print(r)

## Bài 5.4 — Lọc dữ liệu

In [ ]:
for r in cur.execute('SELECT ho_ten, luong FROM NHAN_VIEN WHERE luong > 850'):
    print(r)

## Bài 5.5 — Cập nhật một hàng

In [ ]:
cur.execute('UPDATE NHAN_VIEN SET luong = luong + 100 WHERE id = 1')
conn.commit()
list(cur.execute('SELECT id, ho_ten, luong FROM NHAN_VIEN'))

## Bài 5.6 — Cập nhật nhiều cột trong một hàng

In [ ]:
cur.execute('UPDATE NHAN_VIEN SET ho_ten=?, tuoi=? WHERE id=2', ('Bình Nguyễn', 30))
conn.commit()

## Bài 5.7 — Đếm số bản ghi

In [ ]:
cur.execute('SELECT COUNT(*) FROM NHAN_VIEN')
cur.fetchone()

## Bài 5.8 — Xóa một hàng

In [ ]:
cur.execute('DELETE FROM NHAN_VIEN WHERE id=3')
conn.commit()
list(cur.execute('SELECT * FROM NHAN_VIEN'))

## Bài 5.9 — Liệt kê nhân viên cùng tên phòng (JOIN)

In [ ]:
import sqlite3
conn = sqlite3.connect('ql.sqlite')
cur = conn.cursor()

sql = '''
SELECT n.id, n.ho_ten, n.luong, p.ten AS phong
FROM NHAN_VIEN n
JOIN PHONG p ON n.id_phong = p.id
'''
for row in cur.execute(sql):
    print(row)

## Bài 5.10 — Sắp xếp nhân viên theo lương giảm dần

In [ ]:
sql = '''
SELECT id, ho_ten, luong
FROM NHAN_VIEN
ORDER BY luong DESC
'''
for row in cur.execute(sql):
    print(row)

## Bài 5.11 — Đếm số nhân viên theo từng phòng (GROUP BY)

In [ ]:
sql = '''
SELECT p.ten AS phong, COUNT(*) AS so_nv
FROM NHAN_VIEN n
JOIN PHONG p ON n.id_phong = p.id
GROUP BY p.id, p.ten
'''
for row in cur.execute(sql):
    print(row)